# =========================
# NODE
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# CYPRESS
# =========================
cypress/screenshots/
cypress/videos/

# Cache do Cypress
cypress/cache/
cypress/downloads/

# =========================
# BUILD / COVERAGE
# =========================
coverage/
dist/
build/

# =========================
# ENVIRONMENT FILES
# =========================
.env
.env.local
.env.*.local

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# LOGS / TEMP
# =========================
*.log
tmp/
temp/

# =========================
# CYPRESS CACHE GLOBAL
# =========================
/cypress/videos/
/cypress/screenshots/